//variables//
$color_1: white;
$color_2: #575757;
$color_3: #2c3e50;
$color_4: #7f8c8d;
$color_5: #46A2FD;
$color_6: #7a7a7a;
$color_7: #343434;
$color_8: #FFFFFF;
$color_9: black;
$color_10: rgb(247, 244, 244);
$color_11: #fff;
$font-family_1: 'Amaranth', sans-serif;
$font-family_2: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
$font-family_3: 'Lato', sans-serif;
$background-color_1: rgba(0, 128, 255, 0.5);
$background-color_2: #f1e175;
$background-color_3: #7a7a7a;
$background-color_4: initial;
$background-color_5: white;
$background-color_6: #008CBA;
$background-color_7: #4CAF50;